/* General styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    font-family: 'Nunito', sans-serif;
}

html,
body,
main {
    height: 100%;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

i {
    padding: 0 0.2em;
}

/* Header section */
header {
    background-color: rgb(112, 3, 35);
    border-bottom: 2px solid rgb(255, 123, 0);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

#menu-bar {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.8em 0;
    width: 90%;
}

#navbar {
    width: 70%;
}

#navbar ul {
    display: flex;
    justify-content: space-between;
}

#navbar a {
    color: inherit;
    font-size: 1.3rem;
}

/* Welcome section */
#welcome-section {
    align-items: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#intro {
    font-size: 2.5rem;
    margin-bottom: 2em;
}

#name {
    color: rgb(39, 39, 39);
    font-weight: 800;
}

#role {
    color: rgb(255, 255, 0);
    font-style: italic;
    font-weight: 200;
}

#stacks {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-style: italic;
    line-height: 2;
    max-width: 500px;
    justify-content: space-between;
    text-shadow: 1px 1px 1px rgb(68, 68, 68);
    width: 90%;
}

#current {
    color: rgb(0, 255, 0);
}

#learning {
    color: rgb(255, 0, 0);
}

.parallax {
    background-attachment: fixed;
    background-image: url('./images/welcome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
    top: 0;
}

/* Projects section */
#projects-section {
    background-color: rgb(233, 213, 196);
    border-bottom: 2px solid rgb(139, 69, 19);
    border-top: 2px solid rgb(139, 69, 19);
}

#projects-section h2 {
    color: rgb(65, 50, 50);
    padding: 0.8em 0;
    text-align: center;
}

#projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
}

.project-tile {
    margin: 0.5em;
    min-width: 200px;
    width: 30%;
}

figure {
    border: 2px solid rgb(139, 54, 54);
    background-color: rgb(161, 156, 104);
    border-radius: 10px;
}

img {
    border-radius: inherit;
    width: 100%;
}

figcaption {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.5em;
    text-align: center;
}

/* Contact section */
#contact {
    align-items: center;
    background-color: rgb(208, 253, 229);
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    line-height: 4;
    justify-content: center;
    height: 50%;
}

#contact a {
    color: rgb(180, 34, 34);
}

#social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 500px;
    width: 80%;
}

/* Classes */
.overlay::before {
    content: " ";
    display: block;
    height: 200px;
    margin-top: -200px;
    visibility: hidden;
}

/* Media query */
@media (max-width: 500px) {
    html {
        font-size: 12px;
    }
}